</div>
<!-- /.layout-wrapper -->

<!-- Placed at the end of the document so the pages load faster -->
<%#= javascript_include_tag 'bootstrap/bootstrap.min' %>
<%#= javascript_include_tag 'material_design/jquery.flexslider-min' %>
<%= javascript_include_tag 'material_design/waypoints.min' %>
<%= javascript_include_tag 'material_design/stellar' %>
<%#= javascript_include_tag 'material_design/owl.carousel.min' %>
<%#= javascript_include_tag 'material_design/jquery.localscroll.min' %>
<%#= javascript_include_tag 'material_design/jquery.scrollto.min' %>
<%#= javascript_include_tag 'material_design/validator.min' %>
<%#= javascript_include_tag 'material_design/jquery.form.min' %>
<%= javascript_include_tag 'material_design/isotope.pkgd.min.js' %>
<%= javascript_include_tag 'material_design/scripts.js' %>

</body>
</html>

