<!-- Start Header -->
<%= render partial: 'static_pages/static_header' %>
<!-- End Header -->

<section class="big-hero section background-wrapper fullscreen with-overlay  active-section   bigger-padding black-background"
         style="height: 567px;">
  <div class="background-image"
       style="background: url(<%= image_path('material_design/student1.jpg') %>) 0% 0%;">

  </div>
  <div class="container middle-content">
    <div class="row">
      <div class="col-md-8">
        <div class="element">
          <h1 class="lighter" style="line-height: 65px"><strong>Can God Meet the Longing of Your Heart?</strong></h1>
          <p class="intro-paragraph" style="font-size: 25px; line-height: 35px;">The <b>My Story Booklet</b> is a combination of the gospel presentation
            "Can God Meet the Longing of Your Heart?" and your story of how you met God personally.
            Your story introduces His story.</p>

          <div class="space"></div>
          <p>
            <a class="btn btn-punch btn-white hover-primary hover-colors btn-md" role="button" href="mailto:tsw@cru.org">Email Us</a>
            <a class="btn btn-punch btn-primary btn-md btn-darker" role="button" href="/users/sign_up">Sign Up</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <a href="#simple" title="" class="scroll-down"><i class="fa animated infinite bounce ti-arrow-down"></i></a>
</section>

<section id="simple" class="section active-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3 class="lighter no-padding-top">It's Really Simple</h3>

        <p>Here is a step by step, easy process to help you tell your story in a meaningful way that communicates effectively with those who don’t yet know Christ.</p>
      </div>
      <div class="col-md-3 text-center text-danger">
        <i class="icon large ti-comments"></i>

        <p class="uppercase-text">1. Write</p>
      </div>
      <div class="col-md-3 text-center text-info">
        <i class="icon large ti-layout"></i>

        <p class="uppercase-text">2. Publish</p>
      </div>
      <div class="col-md-3 text-center text-success">
        <i class="icon large ti-check"></i>

        <p class="uppercase-text">3. Print</p>
      </div>
    </div>
  </div>
</section>

<section class="section grey-background active-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center clearfix">
        <h1 class="pull-left no-margin-bottom lighter">Share Your Story Effectively With Others.</h1>
        <a href="/users/sign_up" class="btn btn-punch btn-primary btn-lg btn-darker pull-right">Get Started Today</a>
      </div>
    </div>
  </div>
</section>

<section class="section background-wrapper with-overlay white-overlay active-section">
  <div class="background-image parallax-background" data-stellar-background-ratio="1"
       style="background: url(<%= image_path('material_design/big3.jpg') %>) 0% 0px;"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="small-text uppercase-text strong-text" style="font-size: 17px;">About Us</h3>
        <p style="font-size: 17px; line-height: 28px;">"Can God Meet the Longing of Your Heart?" My Story Booklet is a companion to the evangelistic, life-coaching
          course SOARING. <br/>The Significant Woman is a discipleship, life-coaching course for Christian women. All of
          these are resources of  The Significance Project/Cru and can be viewed at
          <a href="http://TheSignificantWoman.com" target="_blank">TheSignificantWoman.com</a>.
        </p>
      </div>

      <div class="col-md-12">
        <div class="divider"></div>
      </div>

      <div class="col-md-6">
        <p class="strong-text uppercase-text" style="color: #ff4081; font-size: 13px">© 2015 - <strong>My Story Booklet</strong>.</p>
      </div>
      <div class="col-md-6 text-right">
        <p class="uppercase-text letter-spacing">The Significance Project.</p>
      </div>
    </div>
  </div>
</section>

<!-- Start Footer -->
<%= render partial: 'static_pages/static_footer' %>
<!-- End Footer -->