<div id="main">
  <br>

  <%= render "admin/stories/sub_navigation" %>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="media">
          <div class="panel-body" style="background-color: orange; color: #FFF;">
            <h4 style="text-align: center;"><%= @user.username.upcase %>'S STORY</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <% if @story.nil? %>
          <h2>Whoops, this user does not have a story yet.</h2>
      <% end %>

      <div class="froala-view" style="min-height: initial;">
        <%= render 'stories/show_my_story' %>
      </div>
    </div>
  </div>
</div>