<div class="<%= (!@story.text.nil? && @story.text.length > 0) ? 'col-md-4' : 'col-md-6' %> left-main">
  <div class="panel panel-default panel-shadow panel-light-grey">
    <!-- Default panel contents -->
    <div class="panel-heading bold panel-heading-light-grey">My Story Booklet Checklist</div>
    <div class="panel-body">
      <p>The following checklist items are our recommendations to getting the most out of your booklet.</p>
    </div>

    <table class="table table-hover" style="background-color: white;">
      <tbody>
      <tr>
        <th scope="row"><i class="md md-check-box-outline-blank"></i></th>
        <td>Your story should be less than 3000 characters.</td>
      </tr>
      <tr>
        <th scope="row"><i class="md md-check-box-outline-blank"></i></th>
        <td>Don't start your story with quotation marks.</td>
      </tr>
      <tr>
        <th scope="row"><i class="md md-check-box-outline-blank"></i></th>
        <td>Separate paragraphs with at least one line of blank space.</td>
      </tr>
      <tr>
        <th scope="row"><i class="md md-check-box-outline-blank"></i></th>
        <td>Avoid use any formatting like tabs, extra spacing. Your story will appropriately be formatted.</td>
      </tr>
      <tr>
        <th scope="row"><i class="md md-check-box-outline-blank"></i></th>
        <td>You will get an email with your PDF. Confirm that your story fits within the allotted 3 pages.</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>