<%= form_for @story, url: story_path, role: 'form', method: :patch, html: {class: 'my-story-editor'} do |f| %>
  <div class="form-group">
    <%= f.text_area :text, id: 'text-editor' %>
  </div>

  <%= button_tag 'Save My Story', class: 'btn btn-success' %>

  <script>
      $(function () {
          $('textarea#text-editor')
                  .editable({
                      key: '2F-7nkmuieD-8qpkmgwF4fij==',
                      inlineMode: false,
                      // remove toolbar formatting options
                      buttons: [],
                      minHeight: 240,
                      paragraphy: false,
                      plainPaste: true,
                      spellcheck: true,
                      shortcuts: false
                  });
      });
  </script>
<% end %>
