<% if @story.text.nil? || @story.text.length == 0 %>
    <div class="panel panel-default panel-image">
      <div>
        <%= image_tag 'BookletCover', class: 'panel-image-preview' %>
      </div>
      <div class="panel-body">
        <%= raw "<p style='font-size:20px; margin:20px 0 0 0;'>Looks like you haven\'t started on your story." %><br/>
        <%= raw "<strong>#{link_to 'Get Started!', edit_story_path(current_user.username), style: 'text-decoration:none !important'}</strong></p>" %>
      </div>
    </div>
<% end %>