<div id="main">

  <br/>

  <%#= render 'sub_navigation' %>

  <div class="page-header">
    <div class="row">
      <div class="col-md-12">
        <br/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="headline">MOTIVATION</h4>
          <p>Your part in His story is a critical part of your personal history. When you came to know God personally, you         became a part of His story, a part of His family, a part of history. You will be amazed by how many people are         interested in both your story and His.</p>

          <br/>

          <h4 class="headline">ONE WAY TO SHARE YOUR STORY AND GODS STORY</h4>
          <p>You can insert your story of encountering Christ into the mini-book gospel presentation called, "Can God Meet         the Longing of Your Heart?"</p>
          <p>By combining your story with His story in this one mini-book, you will have an easy way to explain the saving         message of Jesus and your personal story of how you met Him.</p>
          <p>You may have the chance to sit with and read through your mini-book with a friend, family member, coworker,         etc. Or if your time with the person is brief, you can ask if they would like the mini-book and then talk to         them later in person or by email, Skype, etc., to see what they thought and if they have any questions.</p>

          <br/>

          <h4 class="headline">SUSAN'S EXPERIENCES</h4>
          <blockquote>"Susan's Story: One Woman's Search"</blockquote>
          <p>is included in the mini-book. Susan has had many personal opportunities         to share her story and His story with people from various countries. </p> 
          <p>One time she was talking with a tour guide in Albania. Susan said that she had a mini-book that explained how         God is important to her and that is why she was visiting this place. She opened the mini-book to the page         where it says "Susan’s Story" and asked the woman if she would like a copy. The tour guide pointed to the words         "Susan's Story" said to Susan, "Is that you?" When Susan said yes, the woman said she would really like to have         the mini- book. Just then from the open window of the tour office came the voices of two other women asking,         "Can we have a mini-book, too?"</p> 
          <p>Another time, while paying for groceries at a store, the clerk commented on Susan's scarf. The scarf was         originally from Poland. Susan mentioned that she loves things from other parts of the world because she was         interested in things from different countries. Susan continued, "That has made me care about other people and         other places". Pointing to the page in the mini-book that says "Susan's Story", Susan asked the clerk, "Would         you like a copy of my story and how I met God?" When the woman saw the words "Susan’s Story" she said, "Should         I know you?" She gratefully accepted the book.</p>

          <br/>

          <h4 class="headline">TRANSITIONS FOR CREATING OPPORTUNITIES TO SHARE YOUR STORY</h4>
          <p>You might want to create and become familiar with one or two transition sentences you can use in different         situations where you have a chance to share your story. Below are a few suggested transitions. Be prayerful as         you create your own transition sentences.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          1. A transition that works well with strangers or casual acquaintances.
        </div>
        <div class="panel-body">
          <p>"I have enjoyed meeting you/talking with you (or "I appreciate your help," or "Thank you for your kindness.")             "God has helped me (or "God has been kind to me or given me a lot to be thankful for") despite the challenges             in my life. I have this mini-book that tells my story and God’s story.  (Open the mini book and point to your             story.) I am ______and this is my story. Would you like to have this mini book and read my story?"</p>
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          2. Transitions for brief encounters of five minutes or less.
        </div>
        <div class="panel-body">
          <p>"I enjoy (insert the holiday: Easter, Christmas, Thanksgiving, etc.).  It reminds me of how much God cares             about me (or how thankful I am, or what it means to me to know God). I have this mini book with my story in             it. (Open the mini-book and point to your story). I am ______ and this is my story about why (Christmas) is             important to me (or why I am thankful). Would you like to have this mini book with my story in it?"</p>
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          3. Transition to use when you will have an extended time.
        </div>
        <div class="panel-body">
          <p>When you have time to interact and develop relationships with people, it is sometimes helpful to ask             questions. This will help create an opportunity to share the gospel. [For suggestions, see "Wondering             Questions" on page 99 of the book "God Space" by <u>Doug Pollock</u>.]​</p>
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          4. For people with whom you have an ongoing relationship.
        </div>
        <div class="panel-body">
          <p>You might want to use some of the following transitions or use these ideas to stimulate creativity for your             own transition.</p>

          <p><strong>First: </strong>             "What I just saw on the news…             Or "The death of a friend (or the death or tragedy related to a celebrity)…             Or "My recent accident (or illness)</p>  

          <p><strong>Second:</strong>              "has caused me to think more about the brevity of life and what's really important to me. I have been             wondering if I only had a year to live what would I focus on?</p>  

          <p><strong>Third:</strong>             "Have you ever thought about that? What do you think you would focus on?"           </p> 

          <p>Interact about their response. Then you might want to share something like, "I am realizing that my             relationship with God is a vital part of my life. Did I tell you that I wrote my own story about that and             how it all works for me?"</p> 

          <p>Show them your story from the mini-book. Either relate your story or let them read it. Say, "I would love             to share the rest of this mini-book with you to get your feedback." (Or I would like to share the rest of             this mini- book with you so you could understand my personal perspective.)</p> 

          <p>Be creative, be prayerful, and ask God for wisdom to communicate His love and your care for the person as             well as the essence of the gospel. Pray for the person that God would work in their heart and help them             encounter Him.</p>
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          5. Transitions with friends and relatives.
        </div>
        <div class="panel-body">
          <p>"It is great (fun, special, nice) to be your friend (co-worker, sister, nephew etc.) I am wondering if             I've ever shared with you about my encounter with God. (Or "Did I tell you I wrote my story about my             relationship with God and published it?")</p>
        </div>
      </div>
    </div>
  </div>
</div>