<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>IDML File</h3>

<p>Email: <%= @user.email %></p>
<p>Username: <%= @user.username %></p>
<p>Publication Id: <%= @user.story.publication_id %></p>
</body>
</html>
